body {
    background-color: black !important;
    overscroll-behavior: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome, Edge, Opera and Firefox */
	/* atttempt at overscroll prevention */
	position: fixed;
	overflow: hidden;
}

.life-box-main {
    width: calc(100vw - 10px);
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    max-width: 725px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);  
    background-size: cover;
    background-position: center center;  
}

.life-box-main .indicator-left{
    position: absolute;
    right: 93%;
    bottom: 1%;
}

.life-box-main .indicator-right{
    position: absolute;
    left: 93%;
    bottom: 1%;
}

.life-box-main .indicator-left-bottom{
    position: absolute;
    right: 93%;
    top: 1%;
}

.life-box-main .indicator-right-bottom{
    position: absolute;
    left: 93%;
    top: 1%;
}

.life-box-main .temp-life-top{
    position: absolute;
    left: 50%;
    top: 1%;
}

.life-box-main .temp-life-bottom{
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: rotate(-180deg);
}

.life-box-main img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 35%;   
    overflow: hidden;
    object-fit: cover;
	object-position: 0% 15%;
	border-radius: 10px;
}

.life-box-main.flipped img {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    object-position: 0% 15%;
	border-radius: 10px;
}

.toolbar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    font-size: .8em; 
    width: calc(100% - 15px);
    max-width: 725px;
}

.icon-img{
    object-fit: contain;
}

.life-text-normal {
    font-size: 180px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.life-text-upside-down {
    font-size: 180px;
    color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
}


.upside-down {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    opacity: .2;
    width: 100%;
    height: 100%;
    display: flex;
}

.life-change-box {
    width: 100%;
}

.life-change-box.damage:active {
    background:red;
}

.life-change-box.heal:active {
    background:green;
}

.hero-box {
    height: 30px; 
    width: 100%;
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
}

.hero-box:hover {
    background-color: #006b50;
}

.hero-text {
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.green {
    background-color: #00bc8c;
}

.btn-outline-purple {
    color:  #9d53c3 !important;
    border-color: #9d53c3 !important;
}

.btn-outline-purple:hover, .btn-outline-purple.active {
    color: #fff !important;
    background-color: #9d53c3 !important;
    border-color: #9d53c3 !important;
}

.opacity-50{
    opacity: .5;
}
.btn:hover {
    background-color: inherit;
}