<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="./css/styles.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="./script/js.cookie.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div id="app">
    <div id="main" class="d-flex flex-column" style="height: 100vh;">
        <div class="life-box-main" :class="{'flipped': webcamMode == false}">
            <img v-if="p1Hero != 'Default'" :src="getImage(p1Hero)"/>
            <div :class="{'indicator-left': webcamMode == false, 'indicator-right': webcamMode == true}">
                <h3>+</h2>
            </div>
            <div :class="{'temp-life-top': webcamMode == true, 'temp-life-bottom': webcamMode == false}" v-if="p1TempLife != 0">
                {{ p1TempLife }}
            </div>
            <div :class="{'indicator-left': webcamMode == true, 'indicator-right': webcamMode == false}">
                <h3>-</h2>
            </div>
            <h1 :class="{ 'life-text-upside-down': webcamMode == false, 'life-text-normal': webcamMode == true }">
                {{ p1 }}
            </h1>
            <div v-if="webcamMode == false" class="overlay">
                <div class="life-change-box heal" @click="lifeChange('p1', +1, damageType)"></div>

                <div class="life-change-box damage" @click="lifeChange('p1', -1, damageType)"></div>
            </div>
            <div v-else class="overlay">
                <div class="life-change-box damage" @click="lifeChange('p1', -1, damageType)"></div>
                <div class="life-change-box heal" @click="lifeChange('p1', +1, damageType)"></div>
            </div>
        </div>
        <div class="toolbar">     
            <div class="d-flex mr-auto">
                <b-button size="sm" variant="secondary" class="mx-1" v-b-modal.user-settings><span class="material-icons">settings</span></b-button>               
                <b-button size="sm" variant="secondary" class="mx-1" v-b-modal.dice-modal @click="getDiceValue(6)"><span class="material-icons">casino</span></b-button> 
            </div>                 
            <div v-if="damageTypeEnabled" class="d-flex mx-auto">
                <b-button-group  class="mx-auto">
                    <b-button size="sm" variant="outline-warning" style="height: 42px; width: 42px" :pressed="damageType == 'Physical'" @click="damageType = 'Physical'"><b-img src="./images/icons/physical.webp" fluid></b-img></b-button>   
                    <b-button size="sm" variant="outline-purple" style="height: 42px; width: 42px" :pressed="damageType == 'Arcane'" @click="damageType = 'Arcane'"><b-img src="./images/icons/runechant.webp" fluid rounded="circle" style="background-color: #000000; padding-bottom: 3px;"></b-img></b-button>                
                    <b-button size="sm" variant="outline-danger" style="height: 42px; width: 42px" :pressed="damageType == 'Other'" @click="damageType = 'Other'">O</b-button> 
                </b-button-group>        
            </div>
            <div class="d-flex ml-auto"> 
                <b-button size="sm" variant="secondary" class="mx-1" v-b-modal.confirm-modal><span class="material-icons">restart_alt</span></b-button>  
                <b-button size="sm" variant="secondary" class="mx-1" v-b-modal.log-modal><span class="material-icons">history_edu</span></b-button>   
            </div>
        </div>
        <div class="life-box-main">
            <img v-if="p2Hero != 'Default'" :src="getImage(p2Hero)"/>
            <div class="indicator-right-bottom">
                <h3>+</h2>
            </div>
            <div class="temp-life-top" v-if="p2TempLife != 0">
                {{ p2TempLife }}
            </div>
            <div class="indicator-left-bottom">
                <h3>-</h2>
            </div>
            <h1 class="my-auto mx-auto life-text-normal">
                {{ p2 }}
            </h1>
            <div class="overlay">
                <div class="life-change-box damage" @click="lifeChange('p2', -1, damageType)"></div>
                <div class="life-change-box heal" @click="lifeChange('p2', +1, damageType)"></div>
            </div>
        </div>
    </div>

    <b-modal id="user-settings" size="large" centered scrollable hide-footer title="Settings">
        <div class="d-flex flex-column">
            <b-card>
                <div class="d-flex flex-wrap">
                    <div class="mx-auto my-1">
                        <div>Format:</div>
                        <b-button-group>
                            <b-button variant="outline-light" @click="setCC()" :pressed="format == 'CC'">Classic Constructed</b-button>
                            <b-button variant="outline-light" @click="setBlitz()" :pressed="format == 'Blitz'">Blitz/Limited/Commoner</b-button>
                        </b-button-group>
                    </div>
                    <div class="mx-auto my-1 d-flex flex-column">
                        <b-form-checkbox v-model="webcamMode" name="check-button" switch>
                            &nbsp;Webcam Mode
                        </b-form-checkbox>
                        <!-- <b-form-checkbox v-model="damageTypeEnabled" name="check-button" switch>
                            &nbsp;Damage Type Enabled
                        </b-form-checkbox> -->
                        <!-- <b-form-checkbox v-model="typeDefaultDisabled" name="check-button" switch>
                            &nbsp;Disable Physical Default (if type enabled)
                        </b-form-checkbox> -->
                    </div>                             
                </div>
            </b-card>
            <!-- <b-card>
                <b-form-input type="color"></b-form-input>
            </b-card> -->
            <b-card class="mt-2">
                <div class="d-flex">
                    <div class="d-flex flex-column mx-auto w-100">
                        <h5 class="mx-auto mb-1" style="border-bottom: 2px solid black">Top Player</h5>
                        <div v-for="(heroData, heroName) in heroes" v-if="format == 'CC' && heroData.cc != null || format == 'Blitz'" class="hero-box" :class="{'green': heroName == p1Hero}" @click="setPlayerHero('p1', heroName)">
                            <h5 class="hero-text">{{heroName}}</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-column mx-auto w-100">
                        <h5 class="mx-auto mb-1" style="border-bottom: 2px solid black">Bottom Player</h5>
                        <div v-for="(heroData, heroName) in heroes" v-if="format == 'CC' && heroData.cc != null || format == 'Blitz'" class="hero-box" :class="{'green': heroName == p2Hero}" @click="setPlayerHero('p2', heroName)">
                            <h5 class="hero-text">{{heroName}}</h5>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
    </b-modal>

    <b-modal id="confirm-modal" size="sm" centered hide-header-close @ok="reset" style="transform: rotate(90deg) !important;">
        <div class="d-flex">
            <h4 class="my-auto mx-auto pt-3">Reset life totals?</h4>
        </div>
    </b-modal>

    <b-modal id="dice-modal" size="sm" centered hide-footer title="Dice">
        <div class="d-flex flex-column">
            <div class="my-auto mx-auto pt-3 d-flex justify-content-between">
                <b-card class="mx-1" style="width:100">
                    <div class="d-flex">
                        <h1 class="mx-auto">{{diceValue1}}</h1>
                    </div>
                </b-card>
                <!-- <b-card class="mx-1" style="width:100">
                    <div class="d-flex">
                        <h1 class="mx-auto">{{diceValue2}}</h1>
                    </div>
                </b-card> -->
            </div>
            <!-- <div class="mx-auto mt-1">Total: {{diceValue1 + diceValue2}}</div> -->
            <b-button class="mx-auto mt-3" variant="secondary" @click="getDiceValue(6)">Roll Again</b-button>
        </div>
    </b-modal>

    <b-modal id="log-modal" size="large" centered hide-footer title="Life Total History">
        <div class="d-flex" style="min-height: 50vh">
            <div class="d-flex flex-column mx-1 flex-grow-1">
                <div class="mx-auto mb-1" style="font-size:1.1em">{{p1Hero}} (top)</div>
                <b-table ref="p1LogTable" striped hover :items="p1Log"></b-table>
            </div>
            <div class="d-flex flex-column mx-1 flex-grow-1">
                <div class="mx-auto mb-1" style="font-size:1.1em">{{p2Hero}} (bottom)</div>
                <b-table ref="p2LogTable" striped hover :items="p2Log"></b-table>
            </div>
        </div>
    </b-modal>
</div>

<script src="./script/main.js"></script>
