<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="./styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--test-->
<div id="app">
    <div id="main" class="d-flex flex-column" style="height: 100vh;">
        <div class="life-box-main">
            <h1 :class="{ 'life-text-upside-down': webcamMode == false, 'life-text-normal': webcamMode == true }">
                {{ p1 }}
            </h1>
            <div v-if="webcamMode == false" class="overlay">
                <div class="life-change-box heal" @click="p1++"></div>
                <div class="life-change-box damage" @click="p1--"></div>
            </div>
            <div v-else class="overlay">
                <div class="life-change-box damage" @click="p1--"></div>
                <div class="life-change-box heal" @click="p1++"></div>
            </div>
        </div>
        <div class="toolbar">
            <div>
                <b-button class="mx-5" size="sm" v-b-modal.user-settings><i data-feather="settings"></i></b-button>
                <b-button class="mx-5" size="sm" v-b-modal.resetConfirm><i data-feather="repeat"></i></b-button>       
                <!-- @click="reset()"        -->
            </div>
        </div>
        <div class="life-box-main">
            <h1 class="my-auto mx-auto life-text-normal">
                {{ p2 }}
            </h1>
            <div class="overlay">
                <div class="life-change-box damage" @click="p2--"></div>
                <div class="life-change-box heal" @click="p2++"></div>
            </div>
        </div>
    </div>

    <b-modal id="user-settings" size="large" centered title="Settings" >
        <div class="d-flex flex-column">
            <div class="mx-auto">
                <b-button @click="setCC()"><i data-feather="shield"></i> CC</b-button>
                <b-button @click="setBlitz()"><i data-feather="zap"></i> Blitz</b-button>
                <b-button class="ml-5" @click="webcamMode = true"><i data-feather="camera"></i> Webcam</b-button>
                <b-button @click="webcamMode = false"><i data-feather="camera"></i> IRL</b-button>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column mx-auto">
                    <h5 class="mx-auto">Player 1</h5>
                    <div v-for="(heroData, heroName) in heroes" v-if="format == 'CC' && heroData.cc != null || format == 'Blitz'" class="hero-box" :class="{'green': heroName == p1Hero}" @click="setPlayerHero('p1', heroName)">
                        <h5 class="hero-text">{{heroName}}</h5>
                        <!-- {{heroData.cc}}, {{heroData.blitz}} -->
                    </div>
                </div>
                <div class="d-flex flex-column mx-auto">
                    <h5 class="mx-auto">Player 2</h5>
                    <div v-for="(heroData, heroName) in heroes" v-if="format == 'CC' && heroData.cc != null || format == 'Blitz'" class="hero-box" :class="{'green': heroName == p2Hero}" @click="setPlayerHero('p2', heroName)">
                        <h5 class="hero-text">{{heroName}}</h5>
                        <!-- {{heroData.cc}}, {{heroData.blitz}} -->
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

    <b-modal id="resetConfirm" title="BootstrapVue">
        <p class="my-4">Hello from modal!</p>
    </b-modal>
</div>

<script src="./main.js"></script>
